.navigation {
    display: flex;
    background-color: #ffffff;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-top: 20px;
    }

    img {
        width: 100%;
    }


    ul {
        display: flex;
        list-style-type: none;
        justify-content: end;
        gap: 20px;
        align-items: center;
    }


    a {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: #707070;
    }

    label {
        display: flex;
        flex-direction: row;
        // position: relative;
    }


    input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid;
    }

}


@media (max-width: 750px) {

    .navigation {

        ul {
            flex-direction: column;
        }

        .pipes {
            display: none;
        }
    }


}


@media (max-width: 375px) {

    .navigation {


        nav {
            flex-direction: column;
        }

        ul {
            flex-direction: column;
        }

       
    }


}