.heroCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: end;
  text-align: end;

  section {
    margin: 20px;
  }

  h2 {
    font-family: var(--title);
    color: var(--gold);
    font-size: 3rem;
  }

  b {
    border-bottom: 1px solid var(--black);
  }

  img {
    width: 100%;
    border: 5px solid var(--gold);
  }

}