.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
    align-items: center;

    img {
        border-bottom: 1px solid;
        
    }

    input {

        padding: 3px;
        border: none;
        border-bottom: 1px solid;
    }

   a{
    
   }
}


@media (max-width: 375px) {

    .SearchBar {

        input {
            width: 100%;
        }

    }
}