.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
    align-items: end;

    img {
        border-bottom: 1px solid;
        
    }

    input {

        padding-left: 5px;
        border: none;
        border-bottom: 1px solid;
    }

    a{
        // margin: 0;
        // padding: 0;
    }
}


@media (max-width: 375px) {

    .SearchBar {

        input {
            width: 100%;
        }

    }
}