.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;

    img {
        border-bottom: 1px solid;

    }

    input {

        padding-left: 5px;
        border: none;
        border-bottom: 1px solid;
    }
}