.actors {

    border: 2px solid var(--gold);
    padding: 20px;

    h2 {
        font-family: var(--title);
        color: var(--gold);

    }
}


@media (max-width: 750px) {

    .actors{
        

    }
    
}


@media (max-width: 375px) {

    
}